<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto1_AP_HeyAso"
        tools:targetApi="31">

        <activity
            android:name=".Pagina_Principal"
            android:exported="false" />
        <activity
            android:name=".Colaboradores_Asociacion"
            android:exported="false" />
        <activity
            android:name=".Registrar_Asociacion"
            android:exported="false" />
        <activity
            android:name=".Iniciar_Sesion"
            android:exported="false" />
        <activity
            android:name=".Registrar_Estudiante"
            android:exported="false"
            android:label="Registrar_Estudiante"
            android:theme="@style/Theme.Proyecto1_AP_HeyAso" />
        <activity
            android:name=".Evaluar_Evento"
            android:exported="false" />
        <activity
            android:name=".menuPrincipalEstudiante"
            android:exported="false" />
        <activity
            android:name=".menuPrincipalColaborador"
            android:exported="false" />
        <activity
            android:name=".Inscribirse_a_evento"
            android:exported="false" />
        <activity
            android:name=".Gestionar_colabores"
            android:exported="false" />
        <activity
            android:name=".Eliminar_Actividad"
            android:exported="false" />
        <activity
            android:name=".modificar_actividad"
            android:exported="false" />
        <activity
            android:name=".Buscar_Actividad"
            android:exported="false" />
        <activity
            android:name=".Crear_Actividad"
            android:exported="false" />
        <activity
            android:name=".AdministrarAgenda"
            android:exported="false" />
        <activity
            android:name=".Compartir_en_redes"
            android:exported="false" />
        <activity
            android:name=".Opciones_Evento"
            android:exported="false" />
        <activity
            android:name=".Modificar_Evento"
            android:exported="false" />
        <activity
            android:name=".Modificar_Evento2"
            android:exported="false" />
        <activity
            android:name=".Buscar_Evento"
            android:exported="false" />
        <activity
            android:name=".Crear_Evento"
            android:exported="false" />
        <activity
            android:name=".Pantalla_QR"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Foro"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Modificacion_QR"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Eliminacion_QR"
            android:exported="false" />
        <activity
            android:name=".Calendario"
            android:exported="false" />
        <activity
            android:name=".Formulario_Base"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Base"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>